body.modal-open {
    overflow: auto !important;
}

.loggedInButton.btn[class*="btn-outline-"] {
    padding: 0.54em 0.5em 0.3em 0.5em;
    height: 4vh;
}

.loggedInButton {
    padding: 0.3em 0.7em;
}

.form-control:focus {
    border-color: #ffba60;
    box-shadow: 0 0 0 0.2rem rgba(202, 108, 0, 0.25);
}