.cardContainer {
    display: flex;
    width: 90vw;
    margin-left: 6.8vw;
    min-height: 80vh;
    justify-content: space-evenly;
}

.pageContainer {
    min-height: 100vh;
    overflow: hidden;
}

.header {
    margin: 0.6em 0 1em 11vw;
}

.trashButton {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.innerText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 6em;
}

.headerContainer {
    display: flex;
    margin: 2em 0 2em 13em;
    width: 26vw;
    justify-content: space-between;
}

.catHeader {
    margin: auto 0;
}