.cardContainer {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    margin-left: 10vw;
}

.pageContainer {
    min-height: 100vh;
    overflow: hidden;
}

.header {
    margin: 0.6em 0 1em 11vw;
}

.trashButton {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.innerText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 6em;
}