.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33%);
    width: 74vw;
    margin: 0 auto;
    min-height: 120vh;
    justify-content: space-evenly;
}

.pageContainer {
    min-height: 100vh;
    overflow: hidden;
}

.trashButton {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.innerText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 6em;
}

.headerContainer {
    display: flex;
    width: 28vw;
    margin: 2em 0 1em 16.6em;
    justify-content: space-between;
}

.catHeader {
    margin: auto 0;
}

.card {
    transform: scale(0.94);
}