.cardContainer {
  display: flex;
  justify-content: space-evenly;
}

.header {
  font-size: 28px;
  font-weight: 500;

  margin-left: 16px;
  margin-top: 4px;
}

.headerContainer {
  display: flex;

  padding-top: 10px;
  margin-left: 56px;
  margin-top: 8px;
}

.section {
  margin: 0 auto;
  width: 80%;
}

.outerSection {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  background-color: #fffbf8;
}

.lolOuterSection {
  grid-row: 2 / 3;
  grid-column: 1 / 8;
}

.ssbmOuterSection {
  grid-row: 3 / 4;
  grid-column: 1 / 8;
  background-color: #fffbf8;
}

.owOuterSection {
  grid-row: 4 / 5;
  grid-column: 1 / 8;
}

.csgoOuterSection {
  grid-row: 5 / 6;
  grid-column: 1 / 8;
  background-color: #fffbf8;
}

.logo {
  height: 40px;
  width: 40px;
}

.csgoLogo {
  width: 76px;
  height: 36px;
}
