@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.formAndPlayerContainer {
  position: relative;
  margin: 32px auto;
  max-width: 1120px;
}

.noteForm {
  position: absolute;
  width: 436px;
  height: 126px;
  bottom: 8px;
  left: 2px;
  background-color: white;
  padding: 11px;
  border-radius: 3px;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  box-sizing: content-box;
}

.noteFormButtons {
  display: flex;
  justify-content: flex-end;
}

.pageContainer {
  display: flex;
  font-family: 'Lato';
  overflow: hidden;
  padding-left: 1vw;
  min-width: 1280px;
}

.noteCard {
  margin: 13px 0;
  height: 169px;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
}

.textDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}

.cardTimestamp {
  margin-bottom: 0;
}

.cardContent {
  font-size: 16px;
  margin-top: 0;
}

.formButtons {
  display: flex;
  width: inherit;
  justify-content: right;
  margin-top: 3px;
  margin-left: 93px;
}

.newNoteErrors {
  height: 8.5px;
  font-size: 12px;
  padding-top: 4px;

  box-sizing: content-box;
}

.noteTopRow {
  display: flex;
  justify-content: space-between;
}

.editNoteErrors {
  position: absolute;
  top: 2px;

  font-size: 12px;
  padding: 0;

  vertical-align: center;

  list-style: none;
}

.trashButton {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 6px 12px !important;
}

.editNote {
  position: absolute;
  top: 120px;
  right: 10px;
}

.deleteButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 38px auto 0 auto;
}

.noteContainerHeader {
  color: grey;
  margin: 12px auto 0 auto;
}

.editFormBody {
  position: relative;
}

.textarea {
  resize: none;
}

.newNoteErrorList {
  list-style: none;
}

.videoPlayer {
  height: 630px;
  width: 1120px;
}

.noteButton {
  margin: 0;
}

.videoContainer {
  position: relative;
  width: inherit;
  height: inherit;
}

.deleteNote {
  padding: 2px 34.5px;
}

@media screen and (max-width: 1652px) {
  .pageContainer {
    padding-left: 2vw;
  }
  .videoPlayer {
    height: 576px;
    width: 1024px;
  }
  .noteForm {
    width: 390px;
    padding: 10px;
  }
}

@media screen and (max-width: 1500px) {
  .videoPlayer {
    height: 473px;
    width: 840px;
  }
}
