@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.topRow {
    margin: 2em 0 2.5em 0;
}

.formContainer {
    width: 40vw;
    margin: 4em auto 0 auto;
}

.formText {
    font-family: 'Lato', Helvetica;
}

.logoContainer {
    margin: 4em auto 4em auto;
}

.youtubeLogo {
    filter: grayscale(100);
    height: 8vh;
    width: 4vw;
    margin-bottom: 0.6em;
}

.nestedDiv {
    display: flex;
    flex-direction: column;
    width: 6vw;
}

.youtubeText {
    font-size: 1.2em;
    font-weight: 400;
    color: #707070;
}