@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.topRow {
    margin: 32px 0 48px 0;
}

.formContainer {
    width: 768px;
    margin: 64px auto 0 auto;
}

.formText {
    font-family: 'Lato', Helvetica;
    width: 768px;
}

.logoContainer {
    margin: 64px auto 64px auto;
}

.youtubeLogo {
    filter: grayscale(100);
    height: 75px;
    width: 77px;
    margin-bottom: 10px;
}

.nestedDiv {
    display: flex;
    flex-direction: column;
    width: 115px;
}

.youtubeText {
    font-size: 19px;
    font-weight: 400;
    color: #707070;
}