.container {
  display: flex;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.textalign {
  display: block;
  margin: 0;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.input {
  width: 866px;
  margin-top: 5px;
  font-size: 23.4px;
}

.errorContainer {
  position: absolute;
  height: 24px;
  width: 240px;

  top: 32px;
  right: 225px;
}

.errorList {
  text-align: center;
  list-style: none;
  margin-top: -10px;
  font-size: 14px;
}

.titleButton {
  margin: 0;
}

@media screen and (max-width: 1652px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 840px;
  }
}
