.container {
    display: flex;
    width: 52.4vw;
    justify-content: space-between;
    margin-bottom: 1em;
}

.textalign {
    display: block;
    margin: auto 0;
}

.formContainer {
    display: flex;
}