.carouselContainer {
    transform: scale(0.7);
    margin-top: -5em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.carouselCard {
    height: 50vh;
}

.carouselImg {
    filter: brightness(0.6);
}

.cardHeader {
    color: white;
    text-align: center;
}