.submitButton {
    display: block;
    margin: 38px auto 0 auto;
}

.loginForm {
    width: 384px;
    padding: 38px 0;
    margin: 0 auto;
}

.errorContainer {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    list-style: none;
    height: 10px;
}

.loginHeader {
    margin-bottom: 16px;
}