.requiredField {
  color: red;
}

.flowFormContainer {
  margin-top: 1.5vh;
}

.input {
  margin-bottom: 1.2vh;
}

.description {
  margin: 3vh 0 0.8vw 0;
}

.textarea {
  resize: none;
}

.submitButton {
  width: 8.5vw;
  margin: 26px 244px;

  box-sizing: content-box;
}

.errors {
  margin: 0;
  list-style: none;
}

.errorContainer {
  width: 360px;
  margin: 0 auto;
}
