.requiredField {
    color: red;
}

.flowFormContainer {
    margin-top: 16px;
}

.input {
    margin-bottom: 13px;
}

.description {
    margin: 32px 0 16px 0;
}

.textarea {
    resize: none;
}

.submitButton {
    width: 162px;
    margin: 26px 244px;

    box-sizing: content-box;
}

.errors {
    margin: 0;
    list-style: none;
}

.errorContainer {
    width: 40px;
}