@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Shadows+Into+Light&display=swap');

.loadingDiv {
    margin: 384px auto;
    width: 960px;
    justify-content: center;
}

.loadingText {
    font-family: 'Shadows Into Light';
    font-size: 128px;
}

.spinnerContainer {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 192px;
}