.cardContainer {
    display: flex;
    justify-content: space-evenly;
}

.header {
    font-size: 28px;
    font-weight: 500;

    margin-left: 20px;
    margin-top: 4px;
}

.headerContainer {
    display: flex;

    padding-top: 10px;
    margin-left: 56px;
    margin-top: 8px;
}

.section {
    margin: 0 auto;
    width: 80%;
}

.outerSection {
    grid-row: 2 / 3;
    grid-column: 1 / 8;
    background-color: #FFFBF8;
}

.logo {
    height: 40px;
    width: 40px;
}